server:
  port: 8088

spring:
  application:
    name: notification-service
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/agrigo}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
