server:
  port: 8083

spring:
  application:
    name: store-service
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/agrigo_store}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
